## Source
### https://github.com/llSourcell/How_to_use_Tensorflow_for_classification-LIVE/blob/master/demo.ipynb

In [1]:
import numpy as np # use number matrices
import tensorflow as tf # Neural Net
import pandas as pd # work with data as tables
import matplotlib.pyplot as plt # visualizations

In [2]:
# Load data
dataframe = pd.read_csv('data.csv') # dataframe 
# removed features we don't care about
dataframe = dataframe.drop(['index','price','sq_price'], axis=1)
# use first ten rows
dataframe = dataframe[:10]
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [3]:
# add labels
# 1- good, 0- bad
dataframe.loc[:, ('y1')] =[1,1,1,0,0,1,0,1,1,1]
# y2 - opposit of y1
dataframe.loc[:,('y2')] = dataframe['y1'] == 0
dataframe.loc[:,('y2')] = dataframe['y2'].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [4]:
# prepare data for tensors
inputX = dataframe.loc[:, ['area','bathrooms']].as_matrix()
inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [5]:
# write our hyper parameters
learning_rate = 1e-6
training_epochs = 2000
display_steps = 50
n_samples = inputX.size

In [12]:
# tensorflow computation graph

# feature input tensor, None means any number of examples
x = tf.placeholder(tf.float32, [None, 2])

# create weights, 2x2 float matrix
w = tf.Variable(tf.zeros([2,2]))

# add biases
b = tf.Variable(tf.zeros([2]))

# y = w*x+b
y_values = tf.add(tf.matmul(x,w), b)

# softmax to y_values
y_ = tf.nn.softmax(y_values)

y = tf.placeholder(tf.float32, [None, 2])

In [13]:
# perform training
cost = tf.reduce_sum(tf.pow(y_-y, 2))/(2*n_samples)

# gradient descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [15]:
# initialize variables and tensorflow session
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

In [17]:
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y:inputY})
    
    #write logs of trainig
    if i% display_steps == 0:
        cc = sess.run(cost, feed_dict={x:inputX, y:inputY})
print("done")
training_cost = sess.run(cost, feed_dict={x:inputX, y:inputY})
print("training cost= ", training_cost, "w= ", sess.run(w), "b= ", sess.run(b))

done
training cost=  0.109537 w=  [[  2.14149521e-04  -2.14149870e-04]
 [  5.13002669e-05  -5.13002451e-05]] b=  [  1.19214146e-05  -1.19214246e-05]

In [19]:
sess.run(y_, feed_dict={x:inputX})

array([[ 0.71125221,  0.28874779],
       [ 0.66498977,  0.33501023],
       [ 0.73657656,  0.26342347],
       [ 0.64718789,  0.35281211],
       [ 0.78335613,  0.2166439 ],
       [ 0.70069474,  0.29930523],
       [ 0.65866327,  0.34133676],
       [ 0.64828628,  0.35171372],
       [ 0.64368278,  0.35631716],
       [ 0.65480119,  0.34519887]], dtype=float32)